<a href="https://colab.research.google.com/github/Raghav220804/21CSS101J-RA2211042010035-Python/blob/main/RA2211042010035.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
print ("Hello World!")

Hello World!

In [11]:
import pandas as pd
data = {"calories": [430,380,390,320,234],
        "duration": [50,45,40,60,43]
        }
df = pd.DataFrame(data,index = ["day1","day2","day3","day4","day5"]) 
print(df)

      calories  duration
day1       430        50
day2       380        45
day3       390        40
day4       320        60
day5       234        43

In [28]:
# import pandas as pd import pandas as pd
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is',
'portal', 'for', 'Geeks']
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)

print(lst)
print(df)

['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [24]:
import pandas as pd
data = {"calories": [430,380,390,320,234],
        "duration": [50,45,40,60,43]
        }
df = pd.DataFrame(data,index = ["day1","day2","day3","day4","day5"]) 
print(df)
print(df.loc["day3"],df.loc["day2"])

      calories  duration
day1       430        50
day2       380        45
day3       390        40
day4       320        60
day5       234        43
calories    390
duration     40
Name: day3, dtype: int64 calories    380
duration     45
Name: day2, dtype: int64

In [12]:
if 5 > 2:
  print("Five is greater than two")

Five is greater than two

In [13]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [14]:
x = str(3)   
y = int(3)    
z = float(3)

In [15]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [16]:
a = 4
A = "Sally"
#A will not overwrite a