<a href="https://colab.research.google.com/github/Raghav220804/21CSS101J-RA2211042010035-Python/blob/main/RA2211042010035.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello World!")

Hello World!

In [ ]:
import pandas as pd
data = {"calories": [430,380,390,320,234],
        "duration": [50,45,40,60,43]
        }
df = pd.DataFrame(data,index = ["day1","day2","day3","day4","day5"]) 
print(df)

      calories  duration
day1       430        50
day2       380        45
day3       390        40
day4       320        60
day5       234        43

In [ ]:
# import pandas as pd import pandas as pd
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is',
'portal', 'for', 'Geeks']
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)

print(lst)
print(df)

['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [ ]:
# Import pandas package import pandas as pd
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
'Age':[27, 24, 22, 32],
'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
print(df)
# select two columns 
print(df[['Name', 'Qualification','Address']])

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd
     Name Qualification    Address
0     Jai           Msc      Delhi
1  Princi            MA     Kanpur
2  Gaurav           MCA  Allahabad
3    Anuj           Phd    Kannauj

In [ ]:
import pandas as pd
data = {"calories": [430,380,390,320,234],
        "duration": [50,45,40,60,43]
        }
df = pd.DataFrame(data,index = ["day1","day2","day3","day4","day5"]) 
print(df)
print(df.loc["day3"],df.loc["day2"])

      calories  duration
day1       430        50
day2       380        45
day3       390        40
day4       320        60
day5       234        43
calories    390
duration     40
Name: day3, dtype: int64 calories    380
duration     45
Name: day2, dtype: int64

In [ ]:
# importing pandas as pd 
import pandas as pd
# importing numpy as np 
import numpy as np
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
'Second Score': [30, 45, 56, np.nan],
'Third Score':[np.nan, 40, 80, 98]} # creating a dataframe from list
df = pd.DataFrame(dict)
# using isnull() function
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [ ]:
import pandas as pd
data = {
"name": ["Sally", "Mary", "John"], "age": [50, 40, 30]
}
df = pd.DataFrame(data) 
print(df)
print(df.query('age > 30'))
print(df.query('index == 2'))

    name  age
0  Sally   50
1   Mary   40
2   John   30
    name  age
0  Sally   50
1   Mary   40
   name  age
2  John   30

In [ ]:
if 5 > 2:
  print("Five is greater than two")

Five is greater than two

In [ ]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
x = str(3)   
y = int(3)    
z = float(3)

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
a = 4
A = "Sally"
#A will not overwrite a

In [1]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
print(df)

print(df.loc[2])

   calories  duration
0       420        50
1       380        40
2       390        45
calories    390
duration     45
Name: 2, dtype: int64

In [12]:
import numpy as np
import pandas as pd
df = pd.DataFrame([[9,25]]*3,columns=['P','Q'])
print(df)
df.apply(np.sqrt)
df.apply(np.sum,axis=1)

   P   Q
0  9  25
1  9  25
2  9  25

0    34
1    34
2    34
dtype: int64

In [41]:
#Consider the two-dimensional array, arr2d.
#arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
#Write a code to slice this array to display the last column,
import numpy as nd
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
b = arr2d[0:3,2:3]
print(b)

[[3]
 [6]
 [9]]

In [46]:
#Write a code to slice this array to display the last 2 elements of middle array,
import numpy as nd
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
b = arr2d[1:2,1:3]
print(b)

[[5 6]]